
@{
    ViewBag.Title = "Careers";
}

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">@ViewBag.Title</h1>
                        <p>@ViewBag.Message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="~/Images/aboutus/5.jpg" class="margin-bottom" alt="" style="width:100%">
                <h1 class="margin-bottom text-center">Talent Strategy</h1>
                <p>CNBM International Trading Limited invests substantial funds for the employees to attend various national and international exhibitions for building materials and applies various promotion platforms such as Alibaba, Global Source, Made-in-China, etc. With the advanced office software’s like CRM, Financing software, RTX, E-fax, Knowledge Management, our employees obtain the best business opportunities, the most convenient working manner, which leads to scientific and digital management and timely communication internally and externally.</p>
                <p>Based on the belief of <b>"benefit maximum, cost minimum for customer"</b> our company has established long-term strategic and cooperative relationship with customers worldwide. Relying on high-qualified products, professional international trade service and strong financial support, we are helping our customers to realize their business objectives.</p>
                <p>With the explosive growth of our company during these years, our business pattern has developed from traditional sole export into multi-lateral & multi-national group with business range covering import, export, entrepot trade, domestic trade, e-commerce and overseas localization marketing.</p>
                <p>To catch the step of our fast development, we are in urgent need of various excellent human sources from all lines to join in our corporation. CNBM international will always consider each staff as the core of our enterprise culture, and will provide every ambitious staff with a platform for entrepreneurship pursuit and youthful enthusiasm display.</p>
                <p>Join us and build the brilliant future together with CNBM International. We will be more successful because of "YOU"!!!</p>
                <p><b>Our advantages are as following: </b></p>
                <p><b>Modern office environment and facilities:</b> includes CRM, Financing software, RTX, E-fax, Invincible meeting system, knowledge management platform.</p>
                <p>Abundant business promotion channels: include exhibitions, B2B website like Alibaba, Global Source, Made-in-China, etc.</p>
                <p><b>Broad space for personal development:</b> We provide platforms for every staff to express their individuality and display their talent. Excellent staffs will have opportunities for oversea working and study, and set up new business department.</p>
                <p><b>Regular learning and training opportunity:</b> Our human resources department will regularly invite internal and external experts to offer designated training for staff capacity improvement.</p>
                <p><b>Encouraging salary and rational KPI system:</b> This will make sure staffs could obtain reasonable reward and share fruits with company.</p>
            </div>
        </div>
    </div>
</section>