@{
    ViewBag.Title = "Home Page";
}

<section id="home-slider">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>CNBM International Trading</h1>
                    <p>We focus on procurement and supply chain management, engaged in managing for development, and has got outstanding achievements, primarily realized its leaping development. Today, we will keep staying in international trading field, insist on innovative spirit. We will do utmost to promote rational use of resources under the new structure, meanwhile, create new value of 'green, environment friendly and sustainable' for a more prosperous future and world.</p>
                </div>
                <img src="~/Images/home/slider/hill.png" class="slider-hill" alt="slider image">
                <img src="~/Images/home/slider/house.png" class="slider-house" alt="slider image">
                <img src="~/Images/home/slider/sun.png" class="slider-sun" alt="slider image">
                <img src="~/Images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                <img src="~/Images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
            </div>
        </div>
    </div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="~/Images/home/icon1.jpg" alt="">
                    </div>
                    <h2>Always With You</h2>
                    <p>CNBM Trading appreciates cooperation with strategic partners, creates values for investors, protects benefits of suppliers and concerns development of sub-contractors.</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="~/Images/home/icon2.jpg" alt="">
                    </div>
                    <h2>Sustainable Development</h2>
                    <p>Besides pursuit of economic benefits, we also pursue harmony among the market, the environment and the society through continuous improvement of developing mechanism and innovative CSR practice.</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="~/Images/home/icon3.jpg" alt="">
                    </div>
                    <h2>Growing Through Innovation</h2>
                    <p>CNBM Trading is dedicated to transform these technologies into real business and services, driving the evolution of related industries.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="action" class="responsive">
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="action take-tour">
                    <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h1 class="title">Our Business</h1>
                        <p>We are internationalized procurement service provider, regards machineries, materials, FMCG procurement is defined as its pillar and defines international trade and the tendering &bidding as its basis of related business extension.</p>
                    </div>
                    <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="tour-button">
                            <a href="@Url.Action("Index", "BusinessFront")" class="btn btn-common">TAKE THE TOUR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features">
    <div class="container">
        <div class="row">
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="~/Images/home/image1.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Vehicles & Machineries</h2>
                    <P>CNBM Trading is a global procurement and wholesale company with a vast product range of trucks, construction equipments, mining machineries and related spare parts. Besides, we also provide after sales service, integrated solutions to mining engineering and oversea mechanized construction of high quality.</P>
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Agricultural Materials & Construction Materials</h2>
                    <P>CNBM Trading, business of which is based on the traditional building materials and also involved in almost all of the building materials industries, including insulation materials, water-proofing materials, decoration materials, high temperature materials, fiberglass materials, etc. We also procurement and wholesale a variety of Agricultural Materials.</P>
                </div>
                <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="~/Images/home/image2.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="~/Images/home/image3.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>FMCG</h2>
                    <P>We have years of experience in the FMCG market. We have procurement a variety of products, including dairy, frozen foods and honey. We have done numerous cooking promotions instore, sampling a wide range of products.</P>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <p><img src="~/Images/home/clients.png" class="img-responsive" alt=""></p>
                    <h1 class="title">Green development strategy</h1>
                    <p>Green development is the requirement of corporate's  future growth and development pattern. That is, pursuing the corporate growth pattern to transform from extensive type to intensive type, focusing on the stable and sustainable growth speed, thus laying the foundation for the enterprise's plan and implement for the long term goal. Green development strategy not only focuses on the growth and quality of the corporate sales and profit volume, but also focuses on the optimization of the corporate business & product structure, synchronous realization of enterprise social responsibility and business goal, and quality upgrade of customer-centered service.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="~/Scripts/lightbox.js"></script>