
@{
    ViewBag.Title = "Corporate Strategy";
}

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">@ViewBag.Title</h1>
                        <p>@ViewBag.Message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="~/Images/aboutus/5.jpg" class="margin-bottom" alt="" style="width:100%">
                <h1 class="margin-bottom text-center">Corporate Strategy</h1>
                <p>
                    <b>1. People-oriented strategy</b><br />
                    <span>The establishment of people-oriented strategy is the basis and necessity to accomplish the corporate development goals and construct innovatively performance-management enterprise. Only by implementing the people-oriented philosophy, taking respecting people, concerning people and optimizing people's potential as our top mission, could we regularly establish internal order,  promote the harmonic development of corporate construction and ensure our sustainable development.</span>
                </p>
                <p>
                    <b>2. Informatization strategy</b><br />
                    <span>Informatization strategy is the support to implement our group corporation's requirement for Five Ways plus KPI (Key Performance Indicator).</span><br />
                    <span>Five Ways means integration, standardization, systemization, streamlining and digitalization. To great extent, the development for informatization affects corporate's competence, and further affects our existence and development. Informatization should be dedicated to the establishment of information platform, providing powerful means, tools and strategic support for accelerating enterprise globalization process, enterprise's various business operations and further realization of enterprise's management standardization.</span>
                </p>
                <p>
                    <b>3. Six Sigma strategy</b>
                    <span>Six Sigma, a set of systematic and integrated business improvement methodology, aims to consistently improve enterprise's business process and achieve satisfaction from clients. Six Sigma quality level means no more than 3.4 defects existing among one million of error possibilities. Six Sigma is a powerful weapon to upgrade enterprise's core competence. Putting this management tool to the strategic position is all because of its remarkable importance to CNBM International. It will definitely play an important role during the period of complete and thorough change for converting an enterprise from core competence scarce and coarse management presently into one with core competence and delicacy management.</span>
                </p>
                <p>
                    <b>4. Globalization strategy</b>
                    <span>CNBM International's transformation from a traditional foreign trade company to a comprehensive trade service supplier for domestic & international markets requires us to boot on both domestic trade and foreign trade. Our business will cover worldwide by transforming from simple import & export business to integrated business mode covering domestic trade, foreign trade, multi-national trade and entrepot trade.</span>
                </p>
                <p>
                    <b>5. Brand Strategy</b>
                    <span>Under the circumstance of highly-developed science & technology and rapidly-spread information, products, technology and management knack are quite easy to be imitated, which results the difficulty to rely on them as core competence. In contrast, once brand is established, its effects can not only to be copied, but also can create inenarrable value for enterprise. One successful brand condenses all connotations such as enterprise value, culture, corporate image, product quality, service function, technology power and etc. And its successful operation can provide customers with quality guarantee and cooperation confidence, meanwhile, bring high loyalty from customers for us.</span>
                </p>
                <p>
                    <b>6. Green development strategy</b>
                    <span>Green development is the requirement of corporate's  future growth and development pattern. That is, pursuing the corporate growth pattern to transform from extensive type to intensive type, focusing on the stable and sustainable growth speed, thus laying the foundation for the enterprise's plan and implement for the long term goal. Green development strategy not only focuses on the growth and quality of the corporate sales and profit volume, but also focuses on the optimization of the corporate business & product structure, synchronous realization of enterprise social responsibility and business goal, and quality upgrade of customer-centered service.</span>
                </p>
            </div>
        </div>
    </div>
</section>