
@{
    ViewBag.Title = "Vision & Mission";
}

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">@ViewBag.Title</h1>
                        <p>@ViewBag.Message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="~/Images/aboutus/5.jpg" class="margin-bottom" alt="" style="width:100%">
                <h1 class="margin-bottom text-center">Vision & Mission</h1>
                <p><b>Our Vision: Initiate new global trading structure; create new value for benefit related partners.</b></p>
                <p>In the past years, CNBM International Trading Limited (hereinafter referred to as CNBM Trading) focus on procurement and supply chain management, engaged in managing for development, and has got outstanding achievements, primarily realized its leaping development. Today, we will keep staying in international trading field, insist on innovative spirit. Depending on the trend of informationization and globalization, we will continuously create new business pattern worldwide to set up integrated supply chain in an economic and environmental-sound way collaborating with share holders, employees, clients and vendors to contribute a balanced coexistence with the community, the society and the country and the environment. We will do utmost to promote rational use of resources under the new structure, meanwhile, create new value of  “green, environment friendly and sustainable’ for a more prosperous future and world.</p>
                <p><b>Our Mission: To lead the revolution of international trade. Be the most influential integrated building procurement and supply chain management supplier globally.</b></p>
                <p>The mission of CNBM Trading was born to be connected procurement and supply chain management. To initiate a new global trading structure fundamentally requires us to lead the industry reform and innovation and to change the traditional trading pattern.</p>
                <p>Guided by market demand, we integrate resources upstream and downstream and link import and export, domestic trade and international trade, abroad operation and mainland operation. So that we can provide comprehensive products and professional service to our partners worldwide and become an integrated products supplier with global influence.</p>
            </div>
        </div>
    </div>
</section>